@import "./pages/home.scss";
@import "./pages/weather.scss";

body{
    background-color: #3333;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}